.floating-menu {
    position: fixed;
    width: 100%;
    background-color: grey;
}

.close-menu {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}

.close-text {
    font-weight: bold;
}

.menu-content {
    display: flex;
    flex-direction: column;

    &__text {
        font-family: "IBM Plex Serif", serif;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }

    &__img {
        width: 24px;
        margin-left: 120px;
    }
}



.menu__sociale {
    display: flex;
    margin-top: 10px;
}

.menu__sociale-list {
    display: flex;
}

.menu__sociale-item:not(:first-child) {
    margin-left: 10px;
}

.menu__sociale-link {
    text-decoration: none;
}

.menu__sociale-img {
    width: 24px;
    margin-bottom: 20px;
}