.floating-menu {
    position: fixed;
    width: 100%;
    background-color: grey;
}

.close-menu {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 18%;
    top: 5%;

}

.close-text {
    font-weight: bold;
}


.menu-content {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    flex-direction: column;

    &__text {
        font-family: "IBM Plex Serif", serif;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }

    &__img {
        width: 24px;
        margin: 10px 0 0 84px;
    }
}

@media (min-width: 768px) {
    .menu-content {
        display: flex;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .menu-content {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

.close-menu {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}



.menu-content.open {
    opacity: 1;
    visibility: visible;
}

.menu-opened {
    display: flex;
    flex-direction: column;
}

.mobile__list {
    display: flex;

}

.mobile__list-item {
    margin-left: 20px;
}

.mobile__text {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}



.menu__sociale {
    display: flex;
    margin-top: 10px;
}

.menu__sociale-list {
    display: flex;
}

.menu__sociale-item:not(:first-child) {
    margin-left: 10px;
}

.menu__sociale-link {
    text-decoration: none;
}

.menu__sociale-img {
    width: 24px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.menu__sociale-link:hover .menu__sociale-img,
.menu__sociale-link:focus .menu__sociale-img {
    transform: scale(1.2);

}