html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}


$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

// Global styles for typography, buttons, etc.
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* remove horizontal scroll */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

// Default styles for mobile


.container {
    width: 100%;
    padding: 10px;
}

// Media query for tablets
@media (min-width: $tablet) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}

// Media query for desktops
@media (min-width: $desktop) {
    .container {
        max-width: 960px;
    }
}

// Media query for large desktops
@media (min-width: $large-desktop) {
    .container {
        max-width: 1140px;
    }
}