.my-services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eda7a7;

    &__container {
        display: flex;
        flex-direction: column;

    }

    &__title {
        font-family: "IBM Plex Serif", serif;
        font-size: 36px;
        font-weight: 600;
        color: white;
        margin-top: 1rem;
    }

    &__subtitle {
        font-family: "IBM Plex Serif", serif;
        font-size: 24px;
        font-weight: 400;
        color: white;
        margin: 10px 0 0 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-family: "IBM Plex Serif", serif;
        font-size: 18px;
        font-weight: 400;
        color: white;
        list-style: disc;
        margin: 10px 0 0 10px;
    }

    &__text {
        margin: 10px 0 0 10px;

    }

    .self-img {
        display: flex;
        margin-top: 20px;
    }

    .request-service {
        display: flex;
        flex-direction: column;

        &__text {
            font-family: "IBM Plex Serif", serif;
            font-size: 24px;
            font-weight: 400;
            color: white;
            list-style: circle;
            margin: 10px 0 0 10px;
        }

        &__item {
            margin-top: 10px;
        }
    }
}