.header {
    box-sizing: border-box;
    background-color: gray;
    column-gap: 20px;
    display: grid;
    height: 20vh;
}

.logo__container {
    display: block;

}

@media (min-width: 480px) {
    .logo__container {
        display: none
    }
}

@media (min-width: 768px) {
    .logo__container {
        display: none;
        // width: 32px;
    }
}

@media (min-width: 1200px) {
    .logo__container {
        display: block;
        width: 32px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-bottom: 130px;
        background-position: 50%;
        height: 40vh;
    }
}

@media (min-width: 1024px) {
    .header {
        background-position: center;
    }
}

.header__navigation {
    display: flex;
}

@media (min-width: 1024px) {
    .header__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 40px;

        /* For horizontal layout on desktop */
    }

    .header__navigation {
        font-size: 16px;
        /* Adjust font size for desktop */
        font-weight: 700;
        margin: 0 15px;
        /* Adjust margins for horizontal layout */
    }

    .header__navigation {
        margin: 0 10px;
        /* Adjust margins for desktop */
    }
}





@media (min-width: 768px) {
    .header__content {
        margin-top: 40px;
    }
}

.burger {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 8px;
}

@media (min-width: 1024px) {
    .burger {
        display: none;
        /* Hide burger on larger screens */
    }
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }
}


.logo__img {
    width: 24px;

}


.burger__img {
    width: 24px;
}



.header__title {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    color: white;
}


.header__subtitle {
    color: #fff;
    text-align: center;
    font-family: "BM Plex Serif", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}