
.header {
box-sizing: border-box;
background-color: gray;
background-position: 90%;
grid-template-rows: 1fr 1fr;
grid-template-columns: repeat(2, 130px);
justify-content: center;
column-gap: 20px;
height: 100vh;
display: grid;
}

@media (min-width: 768px) {
        .header {
            padding-bottom: 130px;
            background-position: 50%;
        }
}
    @media (min-width: 1024px) {
        .header {
            padding-bottom: 203px;
            background-position: center;
        }
    }


.header__navigation {
    grid-area: 1 / 1 / 2 / 3;
    align-self: start;
}

.navigation {
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    display: flex;
}

.logo__img {
width: 130px;
height: 38px;
transition-property: transform;
transition-duration: .3s;
}

.navigation__block {
    gap: 24px;
    display: flex;
}

.phone__label {
    color: #fff;
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap;
    width: 1px;
    height: 1px;
    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    transform: translate(calc(-100% - 20px)) translateY(10px);
    }

    .phone__icon {
        width: 24px;
        height: 24px;
    }

    .burger {
        transition: all .5s easy-in-out;
    }
    
    .burger::before {
        content: "";
        background-image: url('../../images/burger-menu-right-svgrepo-com.svg');
        background-size: cover;
        width: 24px;
        height: 24px;
        display: inline-block;
    }

    .burger__label {
        clip: rect(0 0 0 0);
        
        clip-path: inset(50%);
        white-space: nowrap;
        width: 1px;
        height: 1px;
        position: absolute;
        overflow: hidden;
    }

    .header__title {
    grid-area: 2 / 1 / 3 / 3;
    align-self: end;
    padding-bottom: 20px;
    }

    .title {
        color: #fff;
        text-align: center;
        letter-spacing: -1.5px;
        font-family: "BM Plex Serif", serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

.header__subtitle {
    color: #fff;
    text-align: center;
    letter-spacing: -1.5px;
    font-family: "BM Plex Serif", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

